body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  position: relative;
}

.square:focus {
  outline: none;
}

.player {
  background: black;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: inline-block;
  padding: 0;
  margin: -13px 0 0 -13px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.ball {
  background: #fff;
  border-radius: 50%;
  border: 2px solid black;
  width: 22px;
  height: 22px;
  display: inline-block;
  padding: 0;
  margin: -13px 0 0 -13px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
