html, body, .page {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border:0;
  color: #fff;
}

* {
  font-family: 'open sans', 'lato', 'helvetica', sans-serif;
}

.page {
  position: relative;
}

#p1, #p2, #p3, #p4, #p5 {
  left: 0;
}

#p1 { background: darkslateblue; }
#p2 { background: tomato; }
#p3 { background: gold; }
#p4 { background: deeppink; }
#p5 { background: rebeccapurple; }

.icon {
  color: #fff;
  font-size: 32px;
  display: block;
}

ul .icon:hover {
  opacity: 0.5;
}

.page .icon .title {
  line-height: 2;
}

ul {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 280px;
  width: 10%;
  padding: 0;
  text-align: center;
 }

#menu .icon {
  margin: 30px 0;
}

a {
  text-decoration: none;
}

.title {
  display: block;
}

.title {
  font-size: 38px;
}

.page .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 270px;
  height: 170px;
  margin: auto;
  text-align: center;
  font-size: 16px;
  line-height: 1.3;
}

