.lander * {
  font-family: 'open sans', 'lato', 'helvetica', sans-serif;
}

.lander .page {
  width: 100vw;
  margin: 0;
  padding: 0;
  border:0;
  left:0;
  color: #fff;
  font-size: 10px;
  min-height: 80vh;
}


.lander .pagecontent {
  width: 80%;
  margin: auto;
  font-size: 16px;
  line-height: 1.3;
}


.lander .pagecontent .text {
  text-align: left;
}

.lander .pagecontent .title {
  text-align: center;
  display: block;
  font-size: 38px;
  line-height: 2;
}

.lander .pagecontent a {
  text-decoration: underline;
  cursor: pointer;
  color: inherit;
}

/******************************************************************************
*
* Page Specifics
*
******************************************************************************/

.lander .page#home     {
  background: #7DE5FF; 
}
.lander .page#rules    {
  background: #2191AD; 
}
.lander .rules svg {
  width: auto;
  height: 50vh;
}
/*.lander .rules .pagecontent {*/
  /*height:300vh;*/
/*}*/

.lander .page#play     {
  background: #AD6421; 
}
/*.lander .pagecontent #play form {*/
  /*color: red;*/
/*}*/

.lander .page#moremath {
  background: #32AD3D; 
}
.lander .page#about    {
  background: rebeccapurple; 
}


/******************************************************************************
*
* Menu
*
******************************************************************************/

.lander #menu {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 350px;
  width: 10%;
  padding: 0;
  text-align: center;
 }

.lander .icon {
  color: #fff;
  font-size: 10px;
  display: block;
}

.lander #menu li {
  justify-content: center;
  align-items: center;
}

.lander #menu .icon {
  margin: 30px 0;
}

.lander #menu active {
  color: green;
}

.lander #menu .link {
  text-decoration: none;
  cursor         : pointer;
}

.lander #menu svg {
  width :30px;
  height:30px;
  stroke:white;
  fill  :white !important;
}


