.lander .page {
  width: 100vw;
  height: 90vh;
  margin: 0;
  padding: 0;
  border:0;
  /*overflow:visible;*/
}

.lander * {
  font-family: 'open sans', 'lato', 'helvetica', sans-serif;
}

.lander .page {
  position: relative;
}

.lander #p1, .lander #p2, .lander #p3, .lander #p4, .lander #p5 {
  left: 0;
}

.lander .rules svg {
  width: auto;
  height: 50vh;
}

.lander #p1 { background: #7DE5FF; }
.lander #p2 { background: #2191AD; }
.lander #p3 { background: #AD6421; }
.lander #p4 { background: #32AD3D; }
.lander #p5 { background: rebeccapurple; }

.lander .icon {
  color: #fff;
  font-size: 10px;
  display: block;
}

.lander ul .icon:hover {
  opacity: 0.5;
}

.lander .page .icon .title {
  line-height: 2;
}

.lander ul {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 350px;
  width: 10%;
  padding: 0;
  text-align: center;
 }

.lander #menu .icon {
  margin: 30px 0;
}

.lander .link {
  text-decoration: none;
  cursor         : pointer;
}

.lander #menu svg {
  width :30px;
  height:30px;
  stroke:white;
  fill  :white !important;
}

.lander #menu li {
  justify-content: center;
  align-items: center;
}

.lander .content .text {
  align-items:left;
  text-align: left;
}

.lander .title {
  display: block;
}

.lander .title {
  font-size: 38px;
}

.lander .page .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 80%;
  height: 70vh;
  margin: auto;
  text-align: center;
  font-size: 16px;
  line-height: 1.3;
}

