.game {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #2191AD;
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 30px;
  padding-left: 30px;
  margin: 0;
  overflow: visible;
  color: white;
  display: flex;
  flex-direction: row;
}

/******************************************************************************
*
* Game Info
*
******************************************************************************/

.game .game-info {
	overflow-x: scroll;
	min-width: 30vw;
  max-width: 40vw;
	margin: 0;
	padding: 0;
	overflow: visible;
}

.game .game-info ol, .game .game-info ul {
  padding-left: 30px;
}

.game .game-info .status {
  margin-bottom: 10px;
}

.game .game-info button {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.game .game-info h1 {
  padding-top: 0;
  margin-top:0;
}

/******************************************************************************
*
* Next Player
*
******************************************************************************/

.game .nextplayer {
  margin-bottom:2em;
}

.game .nextplayer div {
  font-size: 20px;
}

/******************************************************************************
*
* Jumps
*
******************************************************************************/

.game .jumps .ol-container{
  max-height: 40vh;
  text-indent: -1.5em;
  padding-left: 1.5em;
  padding-right: 1em;
  padding-top: 1em;
  overflow: scroll;
  max-height: 40vh;
  margin-bottom: 1em;
}

.game .jumps ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: -1em;
}

.game .jumps li {
  padding: 0px 0px 3px 0px;
}

.game .jumps button.repeat {
  opacity: 0.5;
}

.game .jumps button {
  padding: 3px;
  margin: 3px;
  width: 2em;
  text-align:center;
}

/******************************************************************************
*
* History
*
******************************************************************************/

.game .history .table {
  max-height: 40vh;
  overflow: scroll;
}

.game .history button {
  padding: 5px;
  text-align: center;
  width: 6em;
  font-size: 11px;
}

.game .history h1 {
  /*padding-bottom: 0.5em;*/
  margin-bottom: 0.2em;
}

.game .history .special-history button {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1em;
  padding-top: 0;
  text-align: left;
  width: 5em;
  font-size:16px;
}

/******************************************************************************
*
* Help and Rules
*
******************************************************************************/

.game .help-section .rules,
.game .help-section .help {
  display: inline;
  margin-left: 2em;
}

.game .help-section:hover {
  cursor: pointer; 
}

.game .nextplayer {
  padding-bottom: 1em;
  margin-bottom : 0;
}

.game .help-section {
  padding-bottom: 1em;
  margin-bottom: 0;
}

.game .help-section button {
  padding: 0;
  height: 25px;
}


.game .help-section ol > li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.game .help-section ul {
  margin-top: 10px;
}

.game .help-section ul > li{
  margin: 3px;
}


.game .help-section .float {
  position: fixed; 
  left: 0;
  top: 0;
  height: calc(100vh - 50px);
  width: calc(57vw - 50px);
  background-color : #2191AD;
  opacity: 0.92;
  padding-left: 50px;
  padding-top: 50px;
  font-size: calc(12 * (100vw) / 1280);
}


/* Required (somehow) to set
conceptual the z-index properly */
.game .game-info {
  position: relative; 
}

.game .help-section svg {
  width: 25px;
  height: 25px;
  stroke: white;
  fill: white;
  position: relative;
  bottom: -5px;
}

.game .help-section button:hover {
  font-size:20px;
  font-weight:bold;
}

.game .help-section button:hover svg {
  width: 35px;
  height: 35px;
  stroke-width: 2px;
  margin-bottom: -10px;
  margin-right: -10px;
  bottom: 0px;
}


.game .menu > svg {
  position: absolute;
  right: 15vw;
  width: 30vw;
  height: auto;
  opacity: 0.3;
}

.game .menu > svg polygon,
.game .menu > svg polyline,
.game .menu > svg line,
.game .menu > svg path {
  stroke:white;
}



/******************************************************************************
*
* Board Rendering
*
******************************************************************************/

.game svg > text {
  stroke: white;
  fill: white;
  font-size : calc(100vw * .55 / 21 * .4);
}

.game svg path {
  stroke: white;
}

.game svg > defs > marker > path {
  stroke: red;
  fill: red;
}

