.game {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #2191AD;
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 30px;
  padding-left: 30px;
  margin: 0;
  overflow: visible;
  color: white;
  display: flex;
  flex-direction: row;
}

/******************************************************************************
*
* Game Info
*
******************************************************************************/

.game .game-info {
	overflow-x: scroll;
	min-width: 30vw;
	margin: 0;
	padding: 0;
	overflow: visible;
}

.game .game-info ol, .game .game-info ul {
  padding-left: 30px;
}

.game .game-info .status {
  margin-bottom: 10px;
}

.game .game-info button {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.game .jumps ol {
  list-style-type: none;
}

.game .jumps li {
  padding: 5px;
}

.game .history button {
  padding: 5px;
  text-align: center;
}


/******************************************************************************
*
* Board Rendering
*
******************************************************************************/

.game svg > text {
  stroke: white;
  fill: white;
  font-size : calc(100vw * .55 / 21 * .4);
}

.game svg path {
  stroke: white;
}

.game svg > defs > marker > path {
  stroke: red;
  fill: red;
}

